@import '../../variables';
// Small devices (landscape phones, 0 - 575px)
@media (min-width: 0px) { 
    .requests {
        .tabs {
            display: flex;
            justify-content: space-around;
            h1 {
                font-size: 1.6rem;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }
            .active-req {
                background-color: var(--text-color);
                color: var(--secondary-color);
            }
        }
        .routes {
            background-color: var(--text-color);
            color: var(--primary-color);
            .route-headers {
                display: flex;
                justify-content: space-around;
                background-color: var(--primary-color);
                color: var(--text-color);
                h1 {
                    text-align: center;
                    width: 100%;
                    cursor: pointer;
                }
                .active-route {
                    background-color: var(--text-color);
                    color: var(--secondary-color);
                }
            }
        }
    }
}

// Small devices (landscape phones, 576 - 767px)
@media (min-width: 576px) { 
    
}

// Medium devices (tablets, 768px - 991px)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and below)
@media (min-width: 992px) { 
    
}

// Extra large devices (large desktops, 1200px and below)
@media (min-width: 1200px) { 

}

// Extra large devices (large desktops, 1600px and below)
@media (min-width: 1600px) { 

}